<%if(success.length){%>
<div class="alert alert-primary d-flex align-items-center" role="alert" style="height: 3rem; display: flex; align-items: center; " >
    <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
    <div>
        <%= success %>
    </div>
</div>
<% } %>

<%if(faliur.length){%>
    <div class="alert alert-danger d-flex align-items-center" role="alert" style="height: 3rem; display: flex; align-items: center; ">
        <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
          <%= faliur %>
        </div>
      </div>
<%}%>