

<%if(faliur.length){%>
  <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-left: 30rem; margin-right: 30rem;">
    <strong><div>
      <%= faliur %>
    </div></strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<%}%>

