<footer>
    <div class="f-cointainer"><div class="f-contents">
        <div class="name">WanderLust</div>
        <div class="f-links">
        <a href="/">Privacy</a>
        <a href="/">Terms</a>
        <!-- <div class="f-info"><a href="/"><i class="fa-brands fa-instagram"></i></a></div> -->
    </div>
    
    </div></div>
    
</footer>